<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.isen.ounes.androiderestaurant">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Droid Restaurant"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidERestaurant"
        tools:targetApi="31">
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="DroidRestaurant"
            android:theme="@style/Theme.AndroidERestaurant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="DroidRestaurant"
            android:theme="@style/Theme.AndroidERestaurant"/>
        <activity
            android:name=".DetailActivity"
            android:exported="true"
            android:label="DroidRestaurant"
            android:theme="@style/Theme.AndroidERestaurant"/>
    </application>

</manifest>
